<div class="container d-flex justify-content-around mt-5">
    <%= link_to toppings_path, class: "text-decoration-none text-dark" do %>
        <div class="bg-light p-5 border rounded">
            <h2>Toppings</h2>
        </div>
    <% end %>
    <%= link_to pizzas_path, class: "text-decoration-none text-dark" do %>
        <div class="bg-light p-5 border rounded">
            <h2>Pizzas</h2>
        </div>
    <% end %>
</div>
